  body {
    background-color: #e1cef4;
  }

  .jumbotron-fluid {
    padding: 10%;
  }
  
  .jumbotron {
    background-image: url(../images/me2.jpeg);
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.card-img-top {
    max-height: 25vh;
}

summary a {
    text-decoration: none;
    color: blueviolet;
    padding: 5px;
}

summary a:hover {
    box-shadow: 2px 4px grey;
}